{% include 'base.html.twig' %}

<div class="container">
	<div class="welcome-text">
		<h1>Bienvenue sur Exotic Cars</h1>
		<p>Bienvenue sur Exotic Cars, votre destination ultime pour l'exploration des voitures les plus exotiques et les plus prestigieuses du monde. Plongez dans un univers où le luxe rencontre la performance, où chaque courbe et chaque détail sont soigneusement conçus pour élever l'expérience de conduite à de nouveaux sommets.</p>
		{# Deux boutons alignés au milieu, un pour les catégories, un pour les produits #}
		<div class="row justify-content-center">
			<div class="col-md-2">
				<a href="{{ path('app_category_index') }}" id="button-cart">Catégories</a>
			</div>
			<div class="col-md-2">
				<a href="{{ path('app_product_index') }}" id="button-cart">Produits</a>
			</div>
		</div>
	</div>
</div>
