{% include 'base.html.twig' %}

<center>
	<h1>Nos catégories</h1>
</center>

<div class="container">
	<div class="row">
		{% for category in categories %}
			<div class="col-md-4">
				<a href="{{ path('app_category_show', {'id': category.id}) }}">
					<div class="card">
						<img class="card-img-top" src="{{ asset('../assets/img/cars/luxe.jpg') }}" alt="Description de l'image">
						<div class="card-body">
							<h5 class="card-title">{{ category.name }}</h5>
						</div>
					</div>
				</a>
			</div>
		{% endfor %}
	</div>
</div>

{% include 'footer.html.twig' %}

