{% include 'base.html.twig' %}

<center>
	<h1>Nos catégories</h1>
</center>

<div class="container">
	<div class="row">
		{% for category in categories %}
			<div class="col-xl-4 col-md-12 col-xs-12">
				<a href="{{ path('app_category_show', {'id': category.id}) }}" class="card-title">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">{{ category.name }}</h5>
						</div>
					</div>
				</a>
			</div>
		{% endfor %}
	</div>
{% if is_granted('ROLE_ADMIN') %}
	<a href="{{ path('app_category_new') }}" class="card-title">Add Category</a>
{% endif %}
</div>

{% include 'footer.html.twig' %}
