{% extends 'base.html.twig' %}

{% block title %}Edit CartLine{% endblock %}

{% block body %}
    <h1>Edit CartLine</h1>

    {{ include('cart_line/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_cart_line_index') }}">back to list</a>

    {{ include('cart_line/_delete_form.html.twig') }}
{% endblock %}
